body {
    background-repeat: repeat-y;
    text-align: center;
    background-image: url("../image/Gotham.jpg");

}

h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: magneto, serif;
    color: #008C8C;
}

    

#addQuest {
    margin: 0 15% 0 15%;
    text-align: center;

}   
input {
    width: 40%;
    text-align: center;
} 
#bouton1 {

    text-align: center;
}
input.onTouchePas {
    width: 2%;
}

