body {
    width: 100%;
    background-image: url("../image/background.jpg");
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
	

#addQuest {
    margin: 0 15% 0 15%;
    text-align: center;

}   
input {
    width: 30%;
    text-align: center;
} 
#bouton1 {

    text-align: center;
}
input.onTouchePas {
    width: 2%;
}